/* CSS */
/*puppy*/
body {
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFBE6D;
  }
  
  header img {
    height: 20%;
    width: 30%;
    margin-top: 20px;
  }
  
  #nav-bar {
    display: flex;
  }
  
  #nav-bar h1 {
    padding: 50px;
    background-color: #FFEAD5;
  }
  
  #nav-bar h1:nth-child(even) {
    background-color: #FFDBB7;
  }
  
  #nav-bar h1:hover {
    background-color: #FF9595;
  }
  
  main {
    text-align: center;
  }